#!/usr/bin/env bash

export PRODUCT_NAME=AnyDay

info() {
    message=$1
    echo "[INFO] $message"
}

error() {
    message=$1
    echo "[ERROR] $message"
    exit 1
}

export USER_SERVICE_PORT=7102
export AUTH_SERVICE_PORT=7103

# Write environment variables to .env for docker-compose.
cat << EOF > .env
PRODUCT_NAME=${PRODUCT_NAME}
USER_SERVICE_PORT=${USER_SERVICE_PORT}
AUTH_SERVICE_PORT=${AUTH_SERVICE_PORT}

EOF
