#/usr/bin/env bash

ENV_FILE=".env"

if [[ ! -f $ENV_FILE ]]; then
    echo "[WARN] File $ENV_FILE not found! Generating new env file..."
    touch .env
fi

if grep -q DOCKER_HOST_IP $ENV_FILE ; then
    sed -i '' '/DOCKER_HOST_IP/d' $ENV_FILE
fi

DOCKER_HOST_IP=$(ifconfig | \
    grep -E "([0-9]{1,3}\.){3}[0-9]{1,3}" | \
    grep -v 127.0.0.1 | \
    awk '{ print $2 }' | \
    cut -f2 -d: | \
    head -n1)

echo "[INFO] Docker host IP address set to $DOCKER_HOST_IP"
echo "DOCKER_HOST_IP=${DOCKER_HOST_IP}" >> .env

dotenv

source_up
